@inherits LayoutComponentBase

    <div class="sidebar">
        <div class="logo">Olivia<span>Stephens</span></div>
        <NavMenu />
    </div>
    

    <div class="main-content">
            @Body
    </div>


